@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659598815447') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xunhuan:before {
  content: "\e7b1";
}

.icon-lianxiren:before {
  content: "\e638";
}

.icon-zhuyuanjilu:before {
  content: "\e694";
}

.icon-jifendaozhangjilu:before {
  content: "\e607";
}

.icon-daochu:before {
  content: "\e609";
}

.icon-ico_qingchu_xuanzhong:before {
  content: "\e614";
}

.icon-daochu-06:before {
  content: "\e812";
}

